.footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.footer-item{
    display: flex;
    align-items: center;
}

.footer span {
    font-size: 1.2rem;
    font-weight: 300;
}